@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes gradient-box {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  
  .animate-gradient-box::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(to right, #08be54, #10472c);
    z-index: -1;
    animation: gradient-box 1.5s forwards;
    border-radius: 4px;
  }
  
  
  